a{
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
}

ul{
    list-style: none;
}

.nav li{
    display: inline-block;
    margin: 3px;
    padding: 2px;
}

.nav ul{
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 5%;
    padding-right: 5%;
    width: max-content;
}

.nav li a{
    border: 2px solid yellow;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 10px 40px;
}
.nav li a:hover{
    border-radius: 40px 10px;
    color: yellow;
    font-weight: bold;
}


section{
    width: 600px;
}


.u2{
    list-style-type: none;
    padding-left: 20px;
}
.tch{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    color: black;
    background-color: gainsboro;
    margin-left: 25px;
}
p{
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
}
.p_2{
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}

.d2{
    margin: 10px 0 10px 0;
}
.tch:hover{
    border:none;
    text-decoration-line: underline;
    color: green;
    background-color: white;
}

